html {
    background: rgb(101,44,179);
    background: linear-gradient(90deg, rgba(101,44,179,1) 17%, rgba(130,21,131,1) 50%, rgba(103,46,180,1) 80%);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}
h2 {
    color: white;
}
.destination{
    color: white;
}
td {
    color: white !important;
}
#tablap{
    color: white;
}
#edit_btn {
    background-color: #652cb3;
}

#add-entry-submit {
    background-color: #652cb3;
}

.main-content {
    margin-bottom: 4.5rem;
}

.locationviewer {
    background-color: white;
    height: 10rem;
    border-radius: 10px;
    border-color:rgba(101,44,179,0.3);
    border-style: solid;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 0%;
    width: 40%;
    padding:10px;
    position: relative;
    z-index: 100;
    margin-bottom: -5rem; 
}

#txt1 {
    display: block;
    border-style: solid;
    margin: auto;
    width: 70%;
    height: 30%;
    padding:10px;
    border-radius: 15px;
    margin-top: 10px;
    border-color:rgba(101,44,179,0.3);
    text-align: center;
}
#txt2 {
    display: block;
    border-style: solid;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 30%;
    padding:10px;
    border-radius: 15px;
    border-color:rgba(101,44,179,0.3);
    text-align: center;
}

.footer1{
    height: fit-content;
    /* width: max-content; */
   
    width: 100%;
    margin-top: 4.5rem;
    margin-bottom: 0;
    padding-bottom: 0;

    position: absolute;
    left: 0;
    bottom: 0;
    /* overflow: hidden; */
}

#dog {
    height:4em;
    position:relative;
    display: inline-block;
}
#dog:hover{
    animation: flotar 1s;
}

#txt_well{
    text-align: center;
    font-weight: bolder;
    color:rgb(80, 80, 80);

    
}

@keyframes flotar {
    0% , 100% {padding: 0px;}
    30% {padding: 12px;}
    
    
}

#bt {
    display: inline;
    color: #ddd;
    background-color: rgba(103, 40, 3, 0.7);
    border-radius: 3px;
    padding: 5px;

}

.schedule-list .destination {
    font-size: 1.4rem;
    font-weight: bold;
}

#chatcol{
    background-color: plum;
    min-height:100vh;
    border-radius:10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #9886b2; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #652cb3; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }