

html{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 100%;

}
body{
  background-color: rgba(101,44,179,0.3);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  
  }

.container{
height: 100%;
width:auto;
align-content: center;
margin:auto;
padding: 0;
z-index: 1;
position: absolute;

}

.card{
height: 100%;
position: absolute;
margin-bottom: 0;
width:100%;
z-index: 2;

}



.topnav {
    overflow: hidden;
    background-color: white;
    border-radius: 3px;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #652cb3;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.locationviewer {
    background-color: white;
    height: 10rem;
    border-radius: 10px;
    border-color:rgba(101,44,179,0.3);
    border-style: solid;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 0%;
    width: 40%;
    padding:10px;
    position: relative;
    z-index: 100;
    margin-bottom: -5rem; 
}

#txt1 {
    display: block;
    border-style: solid;
    margin: auto;
    width: 70%;
    height: 30%;
    padding:10px;
    border-radius: 15px;
    margin-top: 10px;
    border-color:rgba(101,44,179,0.3);
    text-align: center;
}
#txt2 {
    display: block;
    border-style: solid;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    height: 30%;
    padding:10px;
    border-radius: 15px;
    border-color:rgba(101,44,179,0.3);
    text-align: center;
}
.footer1{
  height: 3.5rem;
  width: max-content;
  background-color: rgba(101,44,179,0.3);
  width: 100%;
 
}

#dog {
  height:3.5rem;
  position: relative;
}
#dog:hover{
  animation: flotar 1s;
}
#txt_well{
  text-align: center;
}
@keyframes flotar {
  0% , 100% {padding: 0px;}
  30% {padding: 12px;}


}

#bt {
  display: inline;
  color: #ddd;
  background-color: rgba(103, 40, 3, 0.583);
  border-radius: 3px;
  padding:0.3em;
  margin-left: -0.8rem;
}
